@import "tailwindcss";

@layer components {
    .text-field {
        @apply border border-gray-300 rounded-md p-2 w-full focus:outline-none focus:ring-2 focus:ring-blue-500;
    }

    .card {
        @apply flex flex-col bg-white border-gray-200 border justify-center items-center p-10 rounded-2xl shadow-xl overflow-hidden;
    }
    
    .card-content {
        @apply  flex flex-col p-10 justify-center items-center gap-4;
    }

    .card-containers {
        @apply grid grid-cols-4 md:grid-cols-4 lg:grid-cols-4 gap-6 px-20;
    }
}

p, li {
  font-family: 'Space Grotesk', sans-serif;
  font-size: large;
  color: black
}

h2 {
    color: black;
}

h3 {
  font-family: 'Space Grotesk', sans-serif;
  color: black;
}

