@import "tailwindcss";

@layer components {
  /* Inputs */
  .form-card {
    @apply bg-white w-[60rem] p-8 rounded-2xl
           border border-gray-200 space-y-8;
  }

  .form-section {
    @apply space-y-4 pt-6 border-t border-gray-300 p-4;
  }

  .form {
    @apply border border-gray-200 bg-white min-w-[60rem] max-w-[60rem] p-6 space-y-8 rounded-2xl;
  }

  .form-frame {
    @apply min-h-screen flex justify-center bg-gray-50 py-12 mt-[10rem];
  }

  .section-title {
    @apply text-lg font-semibold text-gray-800;
  }

  .text-field {
    @apply w-full min-h-[2em] text-sm rounded-md border bg-gray-50 border-gray-300 p-2
           focus:outline-none focus:ring-2 focus:ring-blue-500;
  }

  .radio-label {
    @apply flex items-center gap-2 rounded-lg border border-gray-300 p-3 cursor-pointer hover:bg-gray-50
  }

  .suffix-field {
    @apply w-24 text-sm rounded-md border bg-gray-50 border-gray-300 p-2
           focus:outline-none focus:ring-2 focus:ring-blue-500;
  }

  .radio-section {
    @apply flex flex-row w-full gap-2 
  }

  .btn-primary {
    @apply rounded-md py-2 text-sm text-white border-1 border-blue-300
           bg-blue-600 hover:bg-blue-500 active:bg-(--color-blue) p-5  transition;
  }

  .btn-clear {
    @apply rounded-md py-2 text-sm text-red-600 hover:text-red-500 hover:font-medium;
  }

  .btn-primary-disabled {
    @apply rounded-md bg-blue-500 py-2 px-4 text-white
        opacity-80 cursor-not-allowed;
  }

  .text-field {
    @apply w-full text-sm rounded-md border border-gray-300 p-2
           focus:outline-none focus:ring-2 focus:ring-(--color-blue)
           placeholder:italic placeholder:text-gray-300;
  }

  .suffix-field {
    @apply w-15 rounded-md border border-gray-300 p-2
           focus:outline-none focus:ring-2 focus:ring-(--color-blue)
            placeholder:italic;
  }

  .img-logo {
    @apply w-20 h-auto mb-4;
  }

  /* Main auth card */
  .auth-card {
    @apply flex w-[900px] h-[520px] bg-white border border-gray-200 rounded-2xl
           shadow-xl overflow-hidden;
  }

  /* Left panel (form) */
  .auth-left {
    @apply flex flex-col justify-center gap-4 p-10 w-[45%];
  }

  /* Right panel (image / gradient) */
  .auth-right {
    @apply w-[55%] bg-gradient-to-br from-(--color-blue) to-blue-600
           hidden md:block;
  }

  /* Primary button */

  /* Outline button */
  .btn-outline {
    @apply rounded-md border border-gray-300 py-2
           hover:bg-gray-50 transition;
  }

  /* Divider */
  .divider {
    @apply flex items-center gap-2 my-4 text-xs text-gray-400;
  }

  .divider::before,
  .divider::after {
    content: "";
    @apply flex-1 h-px bg-gray-300;
  }
}

:root {
  color: var(--color-black-1);
}
