@import "tailwindcss";

@layer components {
  /* Inputs */

  .form {
    @apply border border-gray-400 min-w-[60rem] max-w-[60rem] p-6 space-y-8 rounded-xl shadow-lg;
  }
  
  .text-field {
    @apply w-full text-sm rounded-md border border-gray-300 p-2
           focus:outline-none focus:ring-2 focus:ring-(--color-blue);
  }

  .suffix-field {
    @apply w-15 rounded-md border border-gray-300 p-2
           focus:outline-none focus:ring-2 focus:ring-(--color-blue);
  }

  .img-logo {
    @apply w-20 h-auto mb-4;
  }

  /* Main auth card */
  .auth-card {
    @apply flex w-[900px] h-[520px] bg-white border border-gray-300 rounded-2xl
           shadow-xl overflow-hidden;
  }

  /* Left panel (form) */
  .auth-left {
    @apply flex flex-col justify-center gap-4 p-10 w-[45%];
  }

  /* Right panel (image / gradient) */
  .auth-right {
    @apply w-[55%] bg-gradient-to-br from-(--color-blue) to-blue-500
           hidden md:block;
  }

  /* Primary button */
  .btn-primary {
    @apply rounded-md bg-(--color-blue) py-2 text-white
           hover:bg-blue-500   transition;
  }

  /* Outline button */
  .btn-outline {
    @apply rounded-md border border-gray-300 py-2
           hover:bg-gray-50 transition;
  }

  /* Divider */
  .divider {
    @apply flex items-center gap-2 my-4 text-xs text-gray-400;
  }

  .divider::before,
  .divider::after {
    content: "";
    @apply flex-1 h-px bg-gray-300;
  }
}

:root {
  color: var(--color-black-1)
}
